@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

@font-face {
    font-family: 'saintecolombe';
    src: local('saintecolombe'), url(../public/fonts/Sainte-Colombe.woff2) format('woff2');
}

@font-face {
    font-family: 'obviously';
    src: local('obviously'), url(../public/fonts/Obviously.woff2) format('woff2');
}

@font-face {
    font-family: 'balto';
    src: local('balto'), url(../public/fonts/Balto-Light.woff2) format('woff2');
}

@layer utilities {
    .animated {
        animation: animate 4s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: translateX(100%)
        }

        100% {
            transform: translateY(-100);
        }
    }
}

